.container {
  display: flex;
  background-color: #EBEAE9;
  padding: 5px;
  margin: 10px 5px;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;

  .btn-icon {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .icon {
    color: #BF2E27;
    width: 15px;
    height: 15px;
  }

  .header {
    display: flex;
    flex-direction: row;
    padding: 0;

    h4 {
      margin: 0;
    }


  }


  p {
    background-color: #FAF9F9;
    padding: 10px;
    border-radius: 20px;
    align-self: stretch;
    text-align: center;
  }

  .btn {
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
    border-radius: 25px;
    cursor: pointer;
    margin: 5px;
    width: 70px;

  }

  .btn-success {
    background-color: #16914D;
  }

  .btn-success:hover {
    background-color: #0F5E32;
  }

  .btn-danger {
    background-color: #BF2E27;
  }

  .btn-danger:hover {
    background-color: #701B17;
  }


  .close {
    color: white;
    width: 15px;
    height: 15px;
  }

}
