<div class="container">
  <button class="btn-icon" (click)="delete($event)"><span class="icon-pos"><img class="icon" src="../../assets/zondicons/close-solid.svg"></span></button>
  <div class="header">
    <h4>{{data.setup}}</h4>
  </div>
  <p [hidden]="data.hide">{{data.punchline}}</p>
  <button type="button" class="btn btn-success" (click)="data.toggle()">Tell Me</button>

</div>
