.container {
  display: flex;
  flex-direction: column;
  background-color: #F7F6F6;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  app-joke {
    //align-items: center;
    width: 50%;
  }

  app-joke-form {
    width: 50%;
  }

  .btn {
    color: white;
    padding: 5px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7rem;
    border-radius: 25px;
    cursor: pointer;

  }

  .btn-success {
    background-color: #16914D;
  }

  .btn-success:hover {
    background-color: #0F5E32;
  }

}
