body{
  height: 100%;
  background-color: #F7F6F6;

  .btn {
    color: white;
    padding: 5px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7rem;
    border-radius: 25px;
    cursor: pointer;
  
  }
  
  .btn-success {
    background-color: #16914D;
  }
  
  .btn-success:hover {
    background-color: #0F5E32;
  }
}

