.container-form {
  display: flex;
  background-color: #EBEAE9;
  padding: 5px;
  margin: 10px 5px;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;

  .icon{
    display: inline-block;
    width: 15px;
    height: 15px;
  }


  .form-groups {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.9rem;
    margin: 5px 0;
    background-color: #F0EFEE;
    width: 80%;
    padding: 20px 0;


    .form-group {
      display: flex;
      flex-direction: column;
      margin: 0 10px;

      .form-title {
        font-weight: bold;
      }

      .form-input {
        border-radius: 5px;
        border:none;
        padding: 5px;
      }
    }
  }



  .btn {
    color: white;
    padding: 5px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7rem;
    border-radius: 25px;
    cursor: pointer;

  }

  .btn-primary {
    background-color: #74728A;
  }

  .btn-primary:hover {
    background-color: #585769;
  }
}
