<div class="container-form">
  <h4><span class="icon"><img src="../../assets/zondicons/add-outline.svg"></span> Add Joke</h4>
  <div class="form-groups">
    <div class="form-group">
      <p class="form-title">Setup</p>
      <input #setup type="text" class="form-input" placeholder="Setup">
    </div>
    <div class="form-group">
      <p class="form-title">Punchline</p>
      <input #punchline type="text" class="form-input" placeholder="Punchline">
    </div>
  </div>
  <button type="button"
    (click)="createJoke(setup.value, punchline.value)"
    class="btn btn-primary">
      Add
  </button>
</div>
